.whiteframe {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 20, 0, 0, 0)
}

.background-white {
    -fx-background-color: #fff;
}

.button {
    -fx-background-color: #204370;
    -fx-text-fill: #fff;
    -fx-opacity: 0.9;
    -fx-text-alignment: 'center';
    -fx-pref-height: 36;
    -fx-alignment: 'center';
    -fx-text-overrun: 'clip';
}

.gridForm {
    -fx-alignment: 'top_center';
    -fx-hgap: 30;
    -fx-background-color: fff;
}


